---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Best Life Now Foundation</h1>
			<p>
				Hi Mom
			</p>
			<p>
				Best Life Now is a Non-Profit organization devoted to...
				The Best Life Now Foundation was organized in 2017 with the purpose
				of supporting medically fragile adults in Delaware County. The foundation
				supports the outstanding work of Stone Lake Center*, which currently
				operates a Day Support Center for 26 adults and provides “round the clock”
				home care services to individuals in their 24/7 residences. While
				government aid provides basic support, this foundation's intention is to
				provide the residences a more enriched life whether through additional
				clothing, transportation, furniture, or outings etc. To date this foundation
				helped to fund a driveway extension allowing the Stone Lake buses tne
				ability to oull out of the center onto a busy road avoiding the need to back
				out. The Foundation’s current project is creating a handicap accessible
				sensory garden on the grounds of the center. A garden where residence can
				enjoy the sound of a water fountain, fragrant smells from a variety of plants,
				the tactile sensation of a planting bench, and the just the pleasure of fresh
				air and sunshine and green grass.
			</p>
			<p>The Stevenson Family thanks you for your support.</p>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
